@import url(http://fonts.googleapis.com/css?family=Open+Sans:300ital;ic,400italic,400,300,700,800);

body{
	background-image:url('file:///D:/Encargos/Cuarto/Sitios/trazo-vegetal-juj/img/fondo.png');
	margin: 0%;
}

h1, h2, h3{
	font-family: Open Sans;
}

header{
	margin: 2% 10% 20%;
	background: url('file:///D:/Encargos/Cuarto/Sitios/trazo-vegetal-juj/img/docas 1.png');
	background-position: center;
	background-size: 70%;
}

h1{
	color:rgba(60, 100, 65, 0.2);
	font-weight: 800;
	font-size: 5em;
	text-align: center;
	padding-bottom: calc(-10%);
 }

h2{
	color: #801C30;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	padding-bottom: calc(10%)
}

p{
	font-family: Open Sans;
	font-size: 1em;
	font-weight: 400;
	color: #5A5931;
}

img{
	width: 80%;
	position: absolute;
}

a{
	font-family: Open Sans;
	color: #777;
}

footer{
	font-family: Open Sans;
	font-size: 1em;
	color: #5A5931;
}




