h1{
	font-family: Georgia;
	font-size: 16px;
	text-align: left;
	color: #2E3F35;
}

p{
	font-family: Georgia;
	font-size: 12px;
	color: #5A5931;
	margin: 400px;
}

body{
	background-color: #F4F4F2;
	margin-left: 150px;
	margin-right: 150px;
	position: absolute;
}

#fondo {
	background:url(img/docas1.svg) repeat 0 0;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}