@import url(http://fonts.googleapis.com/css?family=Open+Sans:300ital;ic,400italic,400,300,700,800);

body{
	background-image:url('file:///D:/Encargos/Cuarto/Sitios/trazo-vegetal-juj/img/fondo.png');
	margin: 20%;
	margin-top: 5%;
	margin-bottom: 9%;
}

h1{
	color:rgba(60, 100, 65, 0.2);
	font-family: Open Sans;
	font-weight: 800;
	font-size: 5em;
	text-align: left;
	padding-bottom: calc(-10%);
 }

h2{
	color: #801C30;
	font-family: Open Sans;
	font-size: 2em;
	font-weight: 400;
	padding-bottom: calc(10%)
}

p{
	font-family: Open Sans;
	font-size: 1em;
	font-weight: 400;
	color: #5A5931;
}

a{
	font-family: Open Sans;
	color: #777;
}

footer{
	font-family: Open Sans;
	font-size: 1em;
	color: #5A5931;
}

.notas{
	background-color: #CCC;
	font-size: 0.8em;
	font-weight: 300;
	font-variant: italic;
}

